*:focus{outline:none;}
*{box-sizing: border-box;}
html{
	overflow-x: hidden;
}

body{
	font: normal 12px/18px OpenSansHebrewRegular, Tahoma, Arial, sans-serif;
	margin:0;
	width:100%;
	direction:rtl;
	background:#F4F9FC;
	color: #333;
}

input, textarea, select {
    direction: ltr;
    text-align: left;
}

a{
    text-decoration: none;
    color:#333;
    transition: color 300ms;
}

a:hover{
    color:#00CB84;
}

.w10{width:10%;}
.w20{width:20%;}
.w30{width:30%;}
.w40{width:40%;}
.w50{width:50%;}
.w60{width:60%;}
.w70{width:70%;}
.w80{width:80%;}
.w90{width:90%;}
.w100{width:100%;}

.al{text-align: left;}
.ar{text-align: right;}
.ac{text-align: center;}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding:0 15px;
    width: 100%;
}

.flex{
    display: flex;
}

#right-area {
    position: fixed;
    left: 0px;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 60%;
}

#right-area img {
    max-width: inherit;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#left-area{
    width: 40%;
}

.header{
    background-color: #434242;
}

.header .logo{
    padding: 5px 0;
}

.header h1{
    color: #fff;
    font-size: 18px;
    margin: 26px 0 0;
}

h1{
    margin:0;
    font-size: 24px;
}

.inner-form input[type=text], 
.inner-form input[type=date], 
.inner-form input[type=password], 
.inner-form input[type=email], 
.inner-form input[type=number], 
.inner-form select {
    background: #F6F9FE;
    height: 48px;
    width: 100%;
    border: 1px solid #D4D9DF;
    border-radius: 6px;
    padding: 0 15px;
}

.inner-form textarea:focus,
.inner-form input:focus{
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: dotted thin\9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6)
}

.inner-form label{
    display: block;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    color:#333;
}

.btn {
    height: 48px;
    width: 100%;
    background: #00CB84;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .25);
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    display: block;
    padding: 12px 90px;
    border-radius: 6px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    -webkit-transition: .3s;
    transition: .3s;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    text-decoration: none; 
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-color: #1f888e;
    color:#fff;
}

.btn:active{
    background-color: #1f4b8e;
    color:#fff;
}

.ptb10{padding: 10px 0;}
.ptb15{padding: 15px 0;}
.ptb20{padding: 20px 0;}
.ptb25{padding: 25px 0;}
.ptb30{padding: 30px 0;}

.p5{padding:5%;}
.p10{padding:10%;}
.p15{padding:15%;}
.p20{padding:20%;}
.p25{padding:25%;}
.p30{padding:30%;}
.p40{padding:40%;}
.p50{padding:50%;}

.row{
    margin:0 0 15px;
}

@media(max-width:868px){
    #right-area{
        display:none;
    }

    #left-area{
        width:100%;
    }

    .w40,.w50,.w60{
        width:100% !important;
    }

    .p5,.p10,.p15,.p20,.p25,.p30,.p40,.p50{
        padding: 15px;
    }

    .wrapper .p5,.wrapper .p10,.wrapper .p15,.wrapper .p20,.wrapper .p25,.wrapper .p30,.wrapper .p40,.wrapper .p50{
        padding: 0;
    }  

    .header .logo{
        width: calc(100% - 80px);
        text-align: left;
    }

    .ar,.al{
        text-align: center;
    }

    .header h1 {
        font-size: 20px;
        margin: 15px 0 10px;
    }  
}

.alertMsg{
    font-size: inherit;
    padding: 20px 0;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: red;
    background-color: rgba(255, 228, 228, 0.75);
    box-shadow: 0px 0 10px 0px rgba(205, 30, 11, 0.5);
    animation: showFromLeft 0.3s linear;
}

.successMsg{
    font-size: inherit;
    padding: 20px 0;
    position: fixed;
    bottom: 5%;
    left: 2%;
    border-radius: 10px;
    z-index: 999;
    height: auto;
    display: none;
    color: green;
    background-color: rgba(218, 249, 223, 0.75);
    box-shadow: 0px 0 10px 0px rgb(11 205 61 / 50%);
    animation: showFromLeft 0.3s normal;
}
